#board {
    width: 96vh;
    height: 96vh;
    margin: auto;
}

.rank {
    width: 96vh;
}

.square {
    width: 12vh;
    height: 12vh;

    float: left;
    background-size: cover;
}

.light {
    background-image: url("assets/light_square.png");
}

.dark {
    background-image: url("assets/dark_square.png");
}