#board {
    width: 904px;
    height: 904px;
    margin: auto;
}

.rank {
    width: 904px;
    height: 113px;
}

.square {
    width: 113px;
    height: 113px;

    float: left;
    font-size: 90px;
    font-family: monospace;
    text-align: center;
}

.light {
    background-image: url("assets/light_square.png");
}

.dark {
    background-image: url("assets/dark_square.png");
}