#container {
    width: 800px;
    height: 800px;
    margin: auto;
}

.rank {
    width: 800px;
    height: 100px;
}

.square {
    width: 100px;
    height: 100px;

    float: left;
}

.light {
    background-color: burlywood;
}

.dark {
    background-color: brown;
}

.white {
    color: white;
}

.black {
    color: black
}