html, body {
    background-color: #312e2b;
    overflow-y: hidden;
    height: 100vh;
}

#s0_0 {
    border-bottom-left-radius: 5px;
}

#s7_0 {
    border-bottom-right-radius: 5px;
}

#s0_7 {
    border-top-left-radius: 5px;
}

#s7_7 {
    border-top-right-radius: 5px;
}

.light {
    background-image: url("assets/light_square.png");
}

.dark {
    background-image: url("assets/dark_square.png");
}

.light.highlighted_move_current {
    background-image: url("assets/highlighted_light_square.png");
}

.dark.highlighted_move_current {
    background-image: url("assets/highlighted_dark_square.png");
}

.light.highlighted_move_last {
    background-image: url("assets/highlighted_light_square.png");
}

.dark.highlighted_move_last {
    background-image: url("assets/highlighted_dark_square.png");
}